# Dataset klasörü
dataset/
StaySafe\images
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
cvEnv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Model dosyaları
*.pth
*.pt
*.h5
*.hdf5

# Log dosyaları
*.log
logs/
tensorboard/

# Sistem dosyaları
.DS_Store
Thumbs.db 