<nav class="navbar navbar-expand-lg bg-warning navbar-light">
    <div class="container">
        <a href="/display/" class="navbar-brand">StaySafe</a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/display/index" class="nav-link">Canlı Görüntü</a>
            </li>

            <li class="nav-item">
                <a href="/employees/" class="nav-link">Çalışanlar</a>
            </li>

            <li class="nav-item">
                <a href="/reports" class="nav-link">Raporlar</a>
            </li>

            <li class="nav-item">
                <a href="/settings" class="nav-link">Ayarlar</a>
            </li>
        </ul>
    </div>
</nav>