{% extends "layout.html" %}

{% block content %}
{% csrf_token %}
<div class="container-fluid mt-4">
    
        {% include "display/partials/_video_frame.html" %}

        {% include "display/partials/_control_panel.html" %}
    </div>
</div>
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    {% include "display/static/css/_frame_style.html" %}
{% endblock %}

{% block js_files %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    {% include 'display/static/js/_camera_controls.html' %}
{% endblock %}