{% extends 'layout.html' %}
{% load static %}

{% block page_title %}Çalışan Sil{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Çalışan Sil</h3>
                </div>
                <div class="card-body">
                    <p>{{ employee.name }} {{ employee.surname }} isimli çalışanı silmek istediğinizden emin misiniz?</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Sil</button>
                        <a href="{% url 'employee_list' %}" class="btn btn-secondary">İptal</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 